/**
*@author Ramadan ismaeL
*/

.container-left {
    -fx-background-color: linear-gradient(to bottom right, #28135c, #643887);
    -fx-background-radius: 0px 9px 9px 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 6, 0, 0, 0);
}

.container {
    -fx-alignment: top_center;
}

.btn {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-width: 200;
    -fx-font-family: "Agency FB";
    -fx-font-size: 21;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #28135c, #9e4ae2);
}

FontAwesomeIconView {
    -fx-fill: white;
}

.btn-logout {
    -fx-background-color: #522a74;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 6, 0, 0, 0);
    -fx-cursor: hand;
}

.btn-logout:hover {
    -fx-background-color: #9156c5;
}

Text {
    -fx-font-family: "Agency FB";
    -fx-font-size: 21;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.username {
    -fx-font-family: "Agency FB";
    -fx-font-size: 20;
    -fx-text-fill: #ddd;
}